body {
   padding-top: 10px;
   background-color: #1e1e1e;   /* Dark background */
   color: #f1f1f1;   /* Light text */
   /* max-height: 80px; */
   /* max-width: max-content; */
   position: relative;
   /* margin: auto; */
}

:root {
   --ui-scale: 1;	/* Default scale */
}

#uiRoot {
   transform: scale(var(--ui-scale));
   transform-origin: top left;
   width: calc(100% / var(--ui-scale));
   display: flex;
   justify-content: center;
}

.ui-scaled {
   transform: scale(var(--ui-scale));
   transform-origin: top right;
   /* width: calc(100% / var(--ui-scale)); */
}

#confirmModal {
   transform-origin: top !important;
}

.modal-dialog {
   margin-top: 10px;
   margin-bottom: unset;
   max-width: 400px;
}

.modal-body {
   display: inline-flex;
   flex-wrap: nowrap;
   align-items: center;
   gap: 5px;
}

.py-3 {
   padding-top: 8px !important;
   padding-bottom: 8px !important;
}

#confirmOkBtn {
   white-space: nowrap
}

#offcanvas {
   background-color: #1e1e1e;   /* Dark background */
   color: #f1f1f1;   /* Light text */
   display: flex;
   align-items: flex-end;
   --offcanvas-base-width: 450px;
   --bs-offcanvas-width: calc(var(--offcanvas-base-width) * var(--ui-scale));
}

.offcanvas-body.ui-scaled {
  /* After transform, visual width becomes (this width) * scale
     We want that to equal the container width (var(--bs-offcanvas-width)) */
  width: calc(var(--bs-offcanvas-width) / var(--ui-scale));

  /* keep padding out of the width math to avoid tiny overshoots */
  box-sizing: content-box;

  /* ensure transform origin is top-left so size math stays consistent */
  transform-origin: top right;
}

.offcanvas-body {
   display: flex;
   flex-grow: 0;
   align-items: flex-start;
   padding: 10px 0px 0px 16px;
   overflow: hidden;
}

#uiZoomSelect,
#templateSelect {
   height: fit-content;
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23999999' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

#uiZoomSelect {
   width: 100px;
}

#templateSelect {
   width: 160px;
}

#uiZoomSelectLabel,
#templateSelectLabel {
   color: #999;
   font-size: 14px;
}

.form-check {
   font-size: 14px;
   align-self: center;
}

.form-check-input:checked {
	border-color: #f1f1f1;
	background-color: #444;
}

.tooltip {
   /* sizing */
   --bs-tooltip-font-size: calc(var(--ui-scale) * var(--bs-body-font-size, 1rem));
   --bs-tooltip-padding-x: calc(var(--ui-scale) * 0.5rem);
   --bs-tooltip-padding-y: calc(var(--ui-scale) * 0.25rem);
   --bs-tooltip-border-radius: calc(var(--ui-scale) * 0.375rem);
   --bs-tooltip-max-width: calc(var(--ui-scale) * 200px);
   /* spacing from reference element (the “gap”) */
   --bs-tooltip-margin: calc(var(--ui-scale) * 0.4rem);
   /* arrow */
   --bs-tooltip-arrow-width: calc(var(--ui-scale) * 0.8rem);
   --bs-tooltip-arrow-height: calc(var(--ui-scale) * 0.4rem);
}

.popover.popover-scale-scope {
   font-size: calc(14px * var(--ui-scale));
   max-width: none;
   --popover-base-width: 276px;
   --bs-popover-max-width: calc(var(--popover-base-width) * var(--ui-scale));
   --bs-popover-body-padding-x: calc(.5rem * var(--ui-scale));
   --bs-popover-body-padding-y: calc(.5rem * var(--ui-scale));
   --bs-popover-border-radius: calc(.5rem * var(--ui-scale));
   --bs-popover-arrow-width: calc(1rem * var(--ui-scale));
   --bs-popover-arrow-height: calc(.5rem * var(--ui-scale));
}

.popover-body {
   display: flex;
   flex-grow: 0;
   flex-direction: row-reverse !important;
   align-items: flex-start;
   background-color: #1e1e1e;
   /* Dark background */
   color: #f1f1f1;
   /* Light text */
   border: 1px solid #777;
   border-radius: .25rem;
}

.popover-arrow {
   --bs-popover-bg: #777 !important;
}

.popover,
.popover-body {
   overflow: visible;
   /* allow dropdown to overflow the popover body safely */
}

.teamName {
   height: 31px;
   width: 89px !important;
}

.tooltip,
.tooltip .tooltip-arrow {
   pointer-events: none;
}

.tooltip,
.tooltip .tooltip-inner {
   user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   cursor: default;
}

input.form-control,
input[type="text"],
input[type="number"],
select,
textarea,
.form-select {
   background-color: #2a2a2a;
   color: #f1f1f1;
   border: 1px solid #444;
}

input::placeholder,
.inputLabel {
   color: #999 !important;
}

.btn-outline-secondary {
   color: #f1f1f1;
   border-color: #777;
}

.btn-outline-secondary:hover,
.btn-outline-secondary.active {
   background-color: #444;
   border-color: #999;
   color: #fff;
}

.btn-outline-primary {
   color: #b0cfff;
   border-color: #3399ff;
}

.btn-outline-primary:hover,
.btn-outline-primary.active {
   background-color: #3399ff;
   color: #fff;
   border-color: #66b3ff;
}

.btn-outline-danger {
   color: #ffb0b0;
   border-color: #ff3333;
}

.btn-outline-danger:hover,
.btn-outline-danger.active {
   background-color: #ff3333;
   color: #fff;
   border-color: #ff6666;
}

.btn-outline-success {
   color: #b0ffb0;
   border-color: #33cc33;
}

.btn-outline-success:hover,
.btn-outline-success.active {
   background-color: #33cc33;
   color: #fff;
   border-color: #66ff66;
}

.btn-group {
   align-items: center;
}

.btn-group .btn:not(:first-child):not(:last-child) {
   border-left-color: #777 !important;
   border-right-color: #777 !important;
}

.btn-group .btn:first-child:not(.team-popover):not(.char-select-btn) {
   border-right-color: #777 !important;
}

.btn-group .btn:last-child:not(.team-popover):not(.char-select-btn) {
   border-left-color: #777 !important;
}

.form-section {
   margin-bottom: 2rem;
}

.mr-3 {
   margin-right: 4px !important;
}

.btn:focus,
.btn:focus-visible,
.btn:focus-within {
   outline: none !important;
   box-shadow: none !important;
}

.btn-group-vertical {
	justify-content: flex-start;
	height: 67px;
}

.btn-group-vertical .btn {
	width: 31px;
    max-height: 23px;
    border-color: #777 !important;
	padding: 0px;
}

.player-box {
   width: 204px;
}

.col {
   flex: none;
}

.row {
   flex-wrap: nowrap;
   margin: unset;
}

.row>* {
   width: auto;
   padding: unset;
}

.score-group {
   display: flex;
   align-items: center;
   gap: 0px;
   height: 40px;
   padding-left: 0px;
}

.score-group input {
   width: 40px;
   text-align: center;
}

.char-select-btn {
    height: 31px;
    width: 30.5px;
    padding: 0 2px;
    border-color: #777;
}

.char-select-btn:hover {
    background-color: #444;
    border-color: #777;
    color: #fff;
}

.char-dropdown {
    position: absolute;
    top: 32px;
    right: 0;
    background: #2a2a2a;
    border: 1px solid #444;
    border-radius: .25rem;
    z-index: 999;
    min-width: 140px;
    max-height: 85px;
    min-height: 85px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
	scrollbar-color: #2a2a2a #444444;
	scrollbar-width: thin;
}

.profile-dropdown {
    position: absolute;
    background: #2a2a2a;
    border: 1px solid #444;
    border-radius: .25rem;
    min-width: 140px;
	max-height: 85px;
    min-height: 85px;
    overflow-y: auto;
	overflow-x: clip;
    z-index: 999;
	flex-direction: column;
	scrollbar-color: #2a2a2a #444444;
	scrollbar-width: thin;
}

.profile-dropdown-item i {
    width: 16px;
    text-align: center;
}

.char-dropdown.hidden,
.profile-dropdown.hidden {
    display: none;
}

.char-dropdown-item {
    padding: 4px 8px;
    cursor: pointer;
	transition: background-color 0.15s;
    white-space: nowrap;
    font-size: 13px;
}

.profile-dropdown-item {
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color 0.15s;
	white-space: nowrap;
	font-size: 13px;
    user-select: none;
}

.char-dropdown-item:hover,
.profile-dropdown-item:hover {
    background: #444;
}

.char-dropdown-item.selected,
.profile-dropdown-item.selected {
    background: #3a5a36;
}

.char-dropdown-divider {
    min-height: 1px;
	max-height: 1px;
    background-color: #444;
    margin: 0px;
}

.btn:disabled, .btn.disabled {
  border-color: #444;
  color: #444;
  opacity: unset;
}

.profile-btn {
  height: 31px;
  width: 15px;
  padding: 2px 0 0 0;
  border-radius: 0px .25rem .25rem 0px;
  border-color: #444;
}

.profile-btn:hover {
   background-color: #444;
   border-color: #444 !important;
   color: #fff;
}

.profile-split-row {
    display: flex;
    border-bottom: 1px solid #444;
}

.profile-dropdown-item.split-button {
    flex: 1;
    text-align: center;
    font-size: 12px;
    padding: 6px;
}

.profile-dropdown-item.split-button.save-btn {
   /*background-color: #1a4a1a; */
   border-left: 1px solid #444;
}
/*
.profile-dropdown-item.split-button.save-btn:hover {
    background-color: #2a5a2a;
}
*/
/* Remove default number input spinners */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input[type="number"] {
   -moz-appearance: textfield;
}

input.form-control {
   /* max-width: 98px; */
   max-height: 31px;
   padding: .375rem .5rem .375rem .5rem;
   font-size: 14px;
}

input[type="text"],
input[type="number"],
input::placeholder {
   font-size: 14px;
}

#customMatchTypeInput {
   width: 93px;
   height: 40px;
   margin-top: 5px;
}

.mainstage-button-wrapper,
.extra-button-wrapper {
   display: flex;
   flex-direction: column;
   gap: 5px;
   width: max-content;
}

.mainstage-button-wrapper .btn-row,
.extra-button-wrapper .btn-row {
   display: flex;
   border: 1px solid #777;
   border-radius: 0.25rem;
   overflow: hidden;
   width: max-content;
}

.mainstage-button-wrapper .btn-row .btn {
   width: 33px;
   border-radius: 0;
   border: 0px solid #777;
}

.extra-button-wrapper .btn-row .btn {
   width: 32px;
   border-radius: 0;
   border: 0px solid #777;
}

.mainstage-button-wrapper .btn-row .btn:nth-child(2),
.extra-button-wrapper .btn-row .btn:nth-child(2) {
   border-left: 1px solid #777 !important;
   border-right: 1px solid #777 !important;
}

.mainstage-button-wrapper .btn-row .btn:last-child,
.extra-button-wrapper .btn-row .btn:last-child {
   border-right: none;
}

.substage-button-wrapper .btn-row .btn:last-child,
.substage-button-wrapper .btn-row .btn:first-child,
.mainstage-button-wrapper .btn-row .btn:last-child,
.mainstage-button-wrapper .btn-row .btn:first-child {
   width: 31px !important;
   padding-left: 0px;
   padding-right: 0px;
}

.extra-button-wrapper .btn-row .btn:last-child,
.extra-button-wrapper .btn-row .btn:first-child {
   width: 29px !important;
   padding-left: 0px;
   padding-right: 0px;
}

.substage-button-wrapper {
   display: flex;
   flex-direction: column;
   gap: 5px;
   width: max-content;
   align-items: center;
}

.substage-button-wrapper .btn-row {
   display: flex;
   border: 1px solid #777;
   border-radius: 0.25rem;
   overflow: hidden;
   width: max-content;
}

.substage-button-wrapper .btn-row .btn {
   width: 33px;
   border-radius: 0;
   border: 0px solid #777;
}

.substage-button-wrapper .btn-row .btn:nth-child(2) {
   border-left: 1px solid #777 !important;
   border-right: 1px solid #777 !important;
}

.substage-button-wrapper .btn-row .btn:last-child {
   border-right: none !important;
}

#customStageInput {
   width: 134px;
   margin-top: 18px;
   display: none;
}

.round-control {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   width: 33px;
   border: 1px solid #777;
   border-radius: 0.25rem;
   padding: 0;
}

.round-control button {
   flex: 0 0 17px;
   height: 5px;
   padding: 2px 0;
   width: 100%;
   border: none;
   border-radius: 0;
   font-size: 12px;
}

.round-control input[type="number"] {
   flex: 1 1 auto;
   text-align: center;
   border-left: none;
   border-right: none;
   border-radius: 0;
   padding: 2px 0;
   height: 50px;
   width: 100%;
   font-size: 13px;
   -moz-appearance: textfield;
}

.round-control input[type="number"]::-webkit-inner-spin-button,
.round-control input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.inputPlayer {
   border-radius: 0px !important;
   border-left: none !important;
   border-right: none !important;
   width: 88px;
}

.inputTeam {
   border-radius: 0px !important;
   border-right: none !important;
   width: 52px;
}

.team-popover {
   height: 31px;
   width: 29.5px;
   padding: 0 2px;
   border-color: #777;
   border-radius: .25rem;
}

.team-popover:hover {
   background-color: #444;
   border-color: #777;
   color: #fff;
}

.teamRow input[type="text"] {
  /* border-top-left-radius: 0px;
   border-bottom-left-radius: 0px; */
   border-radius: 0px;
   border-right: none;
}

.teamScore {
   width: 39px;
   height: 31px;
   text-align: center;
}

.id-toggle {
  height: 31px;
  padding: 0 2px;
  border-radius: 0;
  border-color: #444;
}
.id-toggle:hover {
   background-color: #444;
   border-color: #444 !important;
   color: #fff;
}
.id-toggle.active {
   border-color: #444 !important;
}

#imgSelect,
#imgSelect2,
#imgSelectTeam1,
#imgSelectTeam2 {
   height: 31px;
   width: 30px;
   padding: 0px !important;
   background-color: #1E1E1E;
   color: #f1f1f1;
   border: 1px solid #444;
   border-radius: .25rem 0px 0px .25rem;
   border-right: none !important;
   /*font-size: 16px !important; */
}

#imgSelect:hover,
#imgSelect2:hover,
#imgSelectTeam1:hover,
#imgSelectTeam2:hover {
   background-color: #444;
   /* border-color: #999; */
   color: #fff;
}

#imgSelectDropdown,
#imgSelectDropdown2,
#imgSelectDropdownTeam1,
#imgSelectDropdownTeam2 {
   position: absolute;
   display: flex;
   flex-direction: column;
   top: -10;
   left: 100%;
   font-size: 13px;
   background-color: #2a2a2a;
   border: 1px solid #444444;
   border-radius: .2rem 0px 0px .2rem;
   overflow-y: scroll;
   overflow-x: hidden;
   white-space: nowrap;
   padding: 2px 0;
   z-index: 999;
   max-height: 85px;
   min-height: 85px;
   max-width: 200px;
   scrollbar-color: #2a2a2a #444444;
   scrollbar-width: thin;
   display: none;
}

#imgSelectDropdown:not(.hidden),
#imgSelectDropdown2:not(.hidden),
#imgSelectDropdownTeam1:not(.hidden),
#imgSelectDropdownTeam2:not(.hidden) {
   display: block;
}

.dropdown-divider {
   border-top: 1px solid #444;
   margin: 0px;
}

.flag-option,
.cusImgUpload {
   color: #f1f1f1;
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 3px 12px;
   padding-right: 0px !important;
   cursor: pointer;
   margin-top: 1px;
}

.flag-option:hover,
.cusImgUpload:hover {
   color: #f1f1f1;
   background-color: #444;
}

.flag-icon {
   width: 14px;
   height: 14px;
   object-fit: cover;
   border-radius: 0px;
}

.image-selected {
   max-height: 18px;
   max-width: 18px;
   vertical-align: middle;
   border-radius: .1rem;
}

.country-name {
   display: inline-block;
   white-space: nowrap;
   overflow: hidden;
}

.country-name-wrapper {
   display: inline-block;
   max-width: 155px;
   overflow: hidden;
   position: relative;
   vertical-align: middle;
}

.country-name-wrapper:has(.scrollable-text) {
   -webkit-mask-image: linear-gradient(90deg, black 97%, transparent 100%);
   mask-image: linear-gradient(90deg, black 97%, transparent 100%);
}

.scrollable-text {
   display: inline-block;
   white-space: nowrap;
}

.scrollable-text:hover {
   animation: scroll-text 6s linear infinite;
}

.dropdown-text-wrapper {
    display: inline-block;
    overflow: hidden;
    max-width: 128px;
    vertical-align: text-top;
}

.profile-dropdown-item i,
.profile-dropdown-item img,
.char-dropdown-item i,
.char-dropdown-item img {
    vertical-align: middle;
    margin-right: 8px;
}

.char-dropdown-item .dropdown-text-wrapper {
    max-width: 128px;
}

.profile-dropdown-item .dropdown-text-wrapper {
    max-width: 128px;
}

@keyframes scroll-text {

   0%,
   5% {
      transform: translateX(0%);
   }

   30%,
   60% {
      transform: translateX(var(--scroll-distance, -50px));
   }

   85%,
   100% {
      transform: translateX(0%);
   }
}

.casterToggles {
   height: 31px;
   width: 25px;
   background-color: #1E1E1E;
   border: 1px solid #444;
   border-radius: 0px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.casterInput {
   width: 100px !important;
   margin-bottom: 0px !important;
}

#caster1Name,
#caster2Name {
   border-radius: 0px .25rem .25rem 0px;
}

#player1_w_btn,
#player1_l_btn,
#player2_w_btn,
#player2_l_btn {
	height: 31px;
	width: 30px;
	padding: 4px 0px;
}

#player1_score,
#player2_score {
   border-radius: 0px;
   width: 33px;
   height: 31px;
}

.score-btn {
   height: 31px; 
   min-height: 31px;
   width: 22px;
   padding: 2px;
}

.score-group .score-btn:first-child,
#team1toggle, #team2toggle {
   border-radius: .25rem 0px 0px .25rem;
}

.score-group .score-btn:last-child,
#p1CharBtn, #p2CharBtn {
   border-radius: 0px .25rem .25rem 0px;
}

#team1toggle, #team2toggle {
   border-right: none;
}

#topText,
#matchWinsNum {
   border-radius: .25rem;
}

#inputCaster1 .btn:first-child,
#inputCaster2 .btn:first-child {
   border-radius: .25rem 0px 0px .25rem;
}

.hidden {
   display: none;
}

#toggleCaster1,
#toggleCaster2,
#toggleTopText {
   position: relative;
}

#toggleCaster1 .square,
#toggleCaster2 .square {
   display: none;
   position: absolute;
   bottom: -3px;
   width: 15px;
   height: 5px;
}

#toggleCaster1 .square:last-child,
#toggleCaster2 .square:last-child {
   right: 0px;
   background-color: #1DA1F2;   /* Twitter */
}

#toggleCaster1 .square:first-child,
#toggleCaster2 .square:first-child {
   left: 0px;
   background-color: #772CE8;   /* Twitch */
}